.dymo-labels-container {
    max-width: 800px;
}

select[name=dlem-labels_length] {
    width:60px !important;
}


/* Modals */
.dlem-label {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 15px;
}
.dlem-label label {
    margin: 0;
}
.dlem-description {
    font-size: 13px;
    margin-left: 0.5em;
}
.dlem-field {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

.dlem-alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.dlem-label-name {
    font-weight: bold;
}
.dlem-label-desc {
    font-size: 80%;
}
.dlem-label-id {
    color: gray;
    font-size: 80%;
}

.dlem-error-title,
.dlem-error-msg {
    color: red;
}

.align-left {
    margin-right: auto;
}

table.dataTable thead .sorting{background-image:none !important;}
table.dataTable thead .sorting_asc{background-image:none !important;}
table.dataTable thead .sorting_desc{background-image:none !important;}
table.dataTable thead .sorting_asc_disabled{background-image:none !important;}
table.dataTable thead .sorting_desc_disabled{background-image:none !important;}
