/* DYMO Labels External Module - Widget CSS */

.dlem-widget-modal .initialized {
    display: none;
}

.dlem-widget-modal .card-header {
    padding: 0.25rem 0.75rem;
}
.dlem-widget-modal .card-body {
    padding: 0;
}
.dlem-widget-modal tr.printer-template {
    display:none;
}

.dlem-widget-modal .labels td,
.dlem-widget-modal .printers td {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.dlem-widget-modal .printers label {
    margin: 0;
}
.dlem-widget-modal td.printer-info {
    padding-left: 0;
}
.dlem-widget-modal .printer-name {
    font-weight: bold;
}
.dlem-widget-modal .printer-offline {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    color: red;
}
.dlem-widget-modal td.printer-select {
    padding-left: 1.25rem;
    width: 2rem;
}
.dlem-widget-modal td.printer-status {
    text-align: right;
    padding-right: 1.25rem;
}
.dlem-widget-modal .twinturbo {
    margin-left: 1rem;
}

.dlem-widget-modal [data-dlem-error] {
    color: red;
    border: 2px solid red;
    padding: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}
.dlem-widget-modal [data-dlem-error]:empty {
    display: none;
}
.dlem-widget-modal [data-dlem-error] p {
    margin-bottom: 0.5rem;
}

.dlem-widget-modal .dlem-copy {
    margin-top:1em;
    font-size: 12px;
    color: gray;
}

.dlem-widget-modal .labels-card div.card-body {
    padding: 10px;
    text-align: center;
    overflow: auto;
}
.dlem-widget-modal table.labels {
    width: auto;
}
.dlem-widget-modal table.labels td, table.labels th {
    text-align: center;
    border-collapse: collapse;
    padding: 5px 10px;
    border: 1px solid black;
    vertical-align: middle;
}
.dlem-widget-modal td.no-labels {
    border: none !important;
}

.dlem-widget-modal pre {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: reset;
    color: black;
    word-break: reset;
    word-wrap: reset;
    background-color: transparent;
    border: none;
}

.dlem-widget-modal span.removed {
    color: red;
    font-size: 90%;
}

.dlem-widget-modal div.label-preview {
    text-align: center;
}

.dlem-widget-modal .align-left {
    margin-right: auto;
}
